<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-12">
      <iframe id="featureVideo" width="100%" height="500px" frameborder="0" allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
              oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
              title="YouTube video player"
              type="text/html" [src]="url" class="vh-80-lg"
              sandbox="allow-scripts allow-same-origin allow-presentation"></iframe>
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{filmItem.title}}</h5>
        <p class="card-text">{{filmItem.summary}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

